.ShipContainer {
  display: flex;
  box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
  margin: 10px 50px 25px;
}

.imageContainer {
  height: 200px;
  width: 20%;
  background-color: #999;
}

.image {
  width: 100%;
  height: 100%;
}

.dataContainer {
  max-width: 80%;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 15px 20px;
}

.name {
  font-size: 1.5rem;
  font-weight: 600;
}

.details {
  font-size: 1.2rem;
  margin-top: 15px;
  padding-bottom: 20px;
}

.reserve {
  border: none;
  padding: 10px;
  background-color: #0290ff;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.reserve:hover {
  background-color: #fff;
  color: #0290ff;
  border: 1px solid #0290ff;
  padding: 9px;
}

.cancel {
  border: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 3px 4px 2px rgb(0 0 0 / 40%);
  color: #aaa;
}

.cancel:hover {
  color: #fff;
  background-color: #555;
}

.done {
  background-color: #18a2b8;
  font-weight: 300;
  color: #fff;
  margin-right: 5px;
  padding: 3px 10px;
  border-radius: 5px;
}

.gone {
  display: none;
}